<!-- user not authorized view -->
<!DOCTYPE html>
{% load staticfiles %}

<html> 
  <head>
    {% include 'nexus/Nexus.html' %}
    <title>Not authorized</title>
  </head>

  <body>
    <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Not authorized</h1>
                <p class="not-authorized-login">Please log in to continue</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 login-form">
            <a href="{% url 'account:Index_screen' %}" class="btn btn-lg btn-info green login-buttons" id="button" role="button">Return</a>
            <a href="{% url 'account:Login_screen' %}" class="btn btn-lg btn-success green login-buttons" role="button">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>