.fb-header-title h1 {
    text-align: center;
    font-family: "Arizonia";
    font-size: 40px;
}

.fb-centered {
    text-align: center;
}

.fb-wrapper {
    width: 60%;
    background-color: #fefefe;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    margin: 40px auto;
}

.fb-workout-header {
    border-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(255, 255, 255, 1) 100%) 1 round;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
}

.fb-workout-header img {
    vertical-align: middle;
}

.fb-workout-main-info img {
    vertical-align: middle;
}

.fb-workout-title {
    display: inline-block;
    margin-left: 15px;
}

.fb-workout-by-user {
    font-style: italic;
    color: #999;
    margin-left: 7px;
}

.fb-workout-border {
    margin-left: 10px;
    padding-bottom: 2px;
    font-weight: bold;
    border-bottom: 3px solid #36bd6f;
}

.fb-workout-no-border {
    margin-left: 10px;
    padding-bottom: 2px;
    font-weight: bold;
}

.fb-workout-details-list {
    list-style: none;
    margin: 30px 20px;
}

.fb-workout-details-list li {
    padding: 10px;
}

.fb-workout-details-list img {
    vertical-align: middle;
}

.fb-pulse img {
    vertical-align: middle;
}

.fb-workout-content {
    border-image: -webkit-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(249, 249, 249, 1) 100%) 1 round;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
}

.fb-information-div {
    width: 60%;
    margin: 0 auto;
}

.fb-information-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}