#navbar{
	background: #32A1D9;
}

#siteBrand, #LogoutLink{
	color: #000000;
	font-weight:bolder;
	font-family: 'Roboto Slab', serif;
}

#upload-modal, #slot-modal, #AccountLink{
	color: #000000;
}

nav.navbar, nav.navbar-default
{
	border: 25px;
}

span.navbarText
{
    font-family: 'Roboto Slab', serif;
}
