@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Arizonia|Finger+Paint);

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  background-color: #fefefe;
  color: #333;
  font-family: "Roboto";
}

/* GRID COMPONENTS */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/* NAVBAR STYLES */

.navbar {
  background-color: #f6f6f6;
}

.navbar h1 {
  margin: 0;
  padding: 0;
  font-family: "Arizonia";
  font-size: 38px;
  color: #333;
}

.navbar ul {
  list-style: none;
  text-align: right;
  padding-top: 15px;
}

.navbar li {
  display: inline;
  padding: 15px;
}

.navbar li a {
  font-family: "Roboto";
  color: #4a4949;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

li.icon {
  display: none;
}

.hero {
  background: url("../img/herofin.png");
  background-size: cover;
  min-height: 100vh;
}

/* REGISTER SECTION */

.welcome-wrapper {
  margin-top: 50px;
}

.register-page {
  min-height: 100vh;
}

.welcome h3 {
  text-align: center;
}

.welcome p {
  font-size: 18px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.form-control {
  width: 80% !important;
}

.nice-border {
  border-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(112,112,112,1) 50%,rgba(255,255,255,1) 100%) 1 round;
  border-top: 0;
  border-right: 0;
  border-left: 3px;
  border-bottom: 0;
  margin-top: 40px;
  padding: 40px;
}

/* ABOUT US */

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.about {
  min-height: 100vh;
}

.about-us h3 {
  text-align: center;
}

.about-us p {
  font-size: 18px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

/* CONTACT */

.contact-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
}

.contact {
  min-height: 100vh;
}

.contact h3 {
  text-align: center;
}

.contact p {
  font-size: 18px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

/* FOOTER */

footer {
  background-color: #333;
  min-height: 300px;
  color: #777573;
}

footer p {
  margin-top: 20px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 250px;
}

.footer-menu ul {
  list-style: none;
  text-align: right;
}

.footer-menu li {
  display: inline;
  padding: 15px;
}

.footer-menu li a {
  font-family: "Roboto";
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media screen and (max-width:680px) {
  ul.menu li:not(:last-child) {
    display: none;
  }
  ul.menu li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.menu.responsive {position: relative;}
  ul.menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li {
    float: none;
    display: inline;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: left;
  }
}
