<div id="calendar"></div>

<script>
    $(document).ready(function () {
    //~ console.log("{{list}}");
    $calendar_click_spam_fix = true;

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    
    $('#calendar').fullCalendar({
        header: {
            left: 'month,agendaWeek,agendaDay',
            center: 'title',
            right:  'today, prev,next,prevYear,nextYear'
        },
        displayEventTime: false,
       {% if list %} events: {{ list|safe }}, {% endif %}
      /*  dayClick: function(date, jsEvent, view) {
             $.ajax({
                type: "POST",
                url: "/calendar_click/",
                data: {
                    'date': date.format(),
                    'csrfmiddlewaretoken': csrftoken,
                },
                success: function(newData) {
                    $('#modalArea').html(newData);
                    if(!$('#calendarmodal').is(':visible')){
                        // show modal
                        $('#calendarmodal').modal('show');
                    } else{
                        // close modal
                        $("#calendermodal").modal('hide');
                    }
                }
           })
        }, */

        eventClick: function(calEvent, jsEvent, view) {     
            console.log( $calendar_click_spam_fix )
            if ($calendar_click_spam_fix == true) {
                $calendar_click_spam_fix = false;
                $.ajax({
                    type: "POST",
                    url: "/calendar_click/",
                    data: {
                        'date': calEvent.start.format().substr(0,10),
                        'csrfmiddlewaretoken': csrftoken,
                        'event_type_magic_string' : calEvent.event_type_magic_string,
                    },
                    success: function(newData) {                   
                        $('#modalArea').html(newData);
                        $('#calendarmodal').modal('show');
                       
                        $calendar_click_spam_fix = true;
                    }
               })
           }
        },
    });
    

});
</script>

<div id="modalArea">
    
</div>

