<table>
    <th>nummer</th>
    <th>ledig</th>
    <th>tills</th>
    <th>ta den</th>
{% for booking in bookings %}
    <tr>
        <td>{{booking.space.number}}</td>
        <td>{{booking.start_date}}</td>
        <td>{{booking.stop_date}}</td>
        <td><a href='bookthatspace/{{booking.id}}'><button>ta den lol</button></a></td>
    </tr>

{% endfor %}
</table>
form 1 
<form action="/calender/makespaceavailable/" method="post">
    {% csrf_token %}
    
    
    {%if spaces %}
        {%if spaces|length > 1%}
            Dina platser är: {% for space in spaces %} {{space}}, {%endfor%}
        {%else %}
            Din plats är: {% for space in spaces %} {{space}} {%endfor%}
        {% endif %}
    
    {% endif %}
    {{ booking_form.as_p}} 
    
    <input type="submit" value="Submit" />
</form>

