{% load staticfiles %}
<!--
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kombo Parking</title>
-->
    <!--<link rel="stylesheet" href="{% static "kombo_parking/css/style.css" %}"> -->
    <link rel="stylesheet" href="{% static "kombo_parking/css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static "kombo_parking/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "kombo_parking/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "kombo_parking/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "kombo_parking/css/fullcalendar.css" %}">
    <link rel="stylesheet" href="{% static "kombo_parking/css/fullcalendar-customize.css" %}">
    <link rel="stylesheet" href="{% static "kombo_parking/css/jquery.nailthumb.1.1.min.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script type="text/javascript" src="{% static "kombo_parking/script/script.js" %}"></script>
    <script src="{% static "kombo_parking/script/lib/jquery.min.js" %}"></script>
    <script src="{% static "kombo_parking/script/lib/moment.min.js" %}"></script>
    <script src="{% static "kombo_parking/script/fullcalendar.js" %}"></script>
    <script src="{% static "kombo_parking/script/lang/sv.js" %}"></script>
    <script type="text/javascript" src="{% static "kombo_parking/script/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "kombo_parking/script/jquery.nailthumb.1.1.min.js" %}"></script>
<!--
  </head>
  <body>
    <div class="container display-table">
      <div class="row display-table-row">
        <div class="col-3 display-table-cell valign-top clearfix" id="dashboard-menu">
          <h1>Kombo Parking</h1>
        </div>

            <div class="col-12">
-->


