{% load staticfiles %}

<link rel="stylesheet" href="{% static "kombo_parking/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "kombo_parking/css/normalize.css" %}">
<link rel="stylesheet" href="{% static "kombo_parking/css/fullcalendar.css" %}">
<link rel="stylesheet" href="{% static "kombo_parking/css/fullcalendar-customize.css" %}">
<link rel="stylesheet" href="{% static "kombo_parking/css/jquery.nailthumb.1.1.min.css" %}">

<script src="{% static "kombo_parking/script/lib/jquery.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="{% static "kombo_parking/script/jquery.nailthumb.1.1.min.js" %}"></script>
<script src="{% static "kombo_parking/script/lib/moment.min.js" %}"></script>
<script src="{% static "kombo_parking/script/fullcalendar.js" %}"></script>
<script src="{% static "kombo_parking/script/script.js" %}"></script>

{% include 'assets/bootstrap/Bootstrap.html' %}
{% include 'assets/mastercss/Mastercss.html' %}
