{% load staticfiles %}
{% load i18n %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#KomboNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="siteBrand">Kombo Parking</a>
    </div>
    <div class="collapse navbar-collapse" id="KomboNav">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#RequestForms" role="button"><span class="glyphicon glyphicon-bullhorn nav-icon"></span>{% trans "Requests" %}</a></li>
        <li><a href="{% url 'account:Account_screen' %}" id="AccountLink"><span class="glyphicon glyphicon-user nav-icon"></span>{% trans "Account Management" %}</a></li>
        <li><a href="{% url 'account:Logout' %}" id="LogoutLink">{% trans "Log out" %}</a></li>
      </ul>
    </div>
  </div>
</nav>

  <!-- Modal Test-->

