{% load i18n %}
    <div class="StartTime">
        <label class="control-label">{% trans "Start" %}</label>
        <p class="RentStartDate">
        {{rentout.rentout_start_date}}
            <script>
                $( function() {
                    $( "#id_rentout_start_date" ).datepicker({
                        beforeShow: function(input, inst) {
                            var widget = $(inst).datepicker('widget');
                            widget.css('margin-right', $(input).outerWidth() - widget.outerWidth());
                        }
                    });
                } );
            </script>        
        {{rentout.rentout_start_date.errors}}
        </p>
        <i class="glyphicons glyphicons-car form-control-feedback"></i>
    </div>

    <div class="EndTime">
        <label class="control-label">{% trans "Stop" %}</label>
        <div class="RentStopDate">
        {{rentout.rentout_stop_date}} 
            <script>
                $( function() {
                    $( "#id_rentout_stop_date" ).datepicker({
                        beforeShow: function(input, inst) {
                            var widget = $(inst).datepicker('widget');
                            widget.css('margin-right', $(input).outerWidth() - widget.outerWidth());
                        }
                    });
                } );
            </script>
        {{rentout.rentout_stop_date.errors}}
        </div>
        <i class="glyphicons glyphicons-car form-control-feedback"></i>
    </div>
    <input class="hidden" name="form_content_check" value="rentout_parking_space">
    <div class="footer">
        <div>
            <label class="control-label">{% trans "Space" %}</label>
            <div>{{ rentout.space }}</div>
            <input id="submit_button" class="btn btn-success green pull-right" role="button"  value="{% trans 'Upload' %}" type="submit" name="" />
        </div>               
    </div>
    

    
