{% load i18n %}
    <div class="StartTime">
        <label class="control-label">{% trans "Start" %}</label>
        <div class="RentStartDate">
        {{request_form.request_start_date}} 

        {{rentout.request_start_date.errors}}
        </div>
        <i class="glyphicons glyphicons-car form-control-feedback"></i>
    </div>

    <div class="EndTime">
        <label class="control-label">{% trans "Stop" %}</label>
        <div class="RentStopDate">
        {{request_form.request_stop_date}} 
       
        {{request_form.request_stop_date.errors}}
        </div>
        <i class="glyphicons glyphicons-car form-control-feedback"></i>
    </div>
    <input class="hidden" name="form_content_check" value="request_parking_space">
    <div class="footer">
        <div>         
            <input id="submit_button" class="btn btn-success green pull-right" role="button"  value="{% trans "Request" %}" type="submit" name="" />
        </div>
    </div>
