<!-- dev test view -->

{% load staticfiles %}

<html>

  <head>
    {% include 'meta/Meta.html' %}
    <title>TEST</title>
  </head>

  <body>
    <div class="devtest">
      <h1>It's alive!</h1><br>
      {% if not user.is_authenticated %}
        <h1>You're not logged in, sucks to be you</h1>
        <a href="{% url 'account:Index_screen' %}" class="btn btn-success green" role="button">Return</a>
      {% elif user.is_authenticated %}
        {% include 'account/Logout.html' %}
      {% endif %}
      </div>

      <!--/static files-->
        <!--Bootstrap-->
          {% include 'assets/bootstrap/Bootstrap.html' %}
        <!--file specific-->
          <link rel="stylesheet" type="text/css" href="{% static 'main/css/main/dev/test.css' %}"/>
      <!--/static files-->
  </body>

</html>