<!-- user account management view -->
<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    {% include 'nexus/Nexus.html' %}
    <title>Account</title>
  </head>

  <body>
    <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Account options</h1>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 index-buttons">
            <a href="{% url 'main:Render_all' %}" class="btn btn-lg btn-info" role="button">Return to calendar</a>
            <a href="{% url 'account:UpdatePass_screen' %}" class="btn btn-lg btn-success" role="button">Update password</a>
            <a href="{% url 'account:UpdateDetails_screen' %}" class="btn btn-lg btn-success" role="button">Update information</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>