<!-- template to display index page options, user index view -->



<div class="account-index">
	<div class="container">
	 <div class="row">
		<div id="mainContainer" class="col-lg-8 col-xs-12 col-centered">
			<h1 id="logo">KomboPark</h1>
			<a id="btnLogin" href="{% url 'account:Login_screen' %}" class="btn btn-primary" role="button">Log in</a>
			<a id="btnRegister" href="{% url 'account:Register_screen' %}" class="btn btn-primary" role="button">Register</a>
			<a id="btnForgotPassword" href="{% url 'account:reset' %}" class="btn btn-primary" role="button">Forgot Password</a> 
			<a id="btnFaq" href="{% url 'main:FAQ_screen' %}" class="btn btn-primary" role="button">FAQ<a> 
			</div>	
		</div>
	</div>
</div>


