<!-- user forgot password view -->
<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    {% include 'meta/Meta.html' %}
    <title>Password reset</title>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1>Recover your password</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 col-md-offset-2 login-form">
                <form role="form" action="" method="post">{% csrf_token %}
                  {{ ResetForm.email }}<br>
                  {{ ResetForm.email.errors }}
                  <a href="{% url 'account:Index_screen' %}" class="btn btn-info green login-buttons" role="button">Return</a>
                  <input type="submit" class="btn btn-success green login-buttons" value="Submit" />
                </form>
                <a class="login-links" href="{% url 'account:Register_screen' %}">Don't have an account?</a><br>
                <a class="login-links" href="{% url 'account:Login_screen' %}">Already have an account?</a><br>
                <a class="login-links" href="{% url 'main:FAQ_screen' %}">FAQ</a>
              </div>
          </div>
      </div>
    </div>

    <!--/static files-->
      <!--Bootstrap-->
        {% include 'assets/bootstrap/Bootstrap.html' %}
      <!--Css-->
        {% include 'assets/mastercss/Mastercss.html' %}
    <!--/static files-->
  </body>
<html>