<!-- user forgot password view -->

<!-- Form rendering code for template -->
<h4>Recover your password</h4>
<form role="form" action="" method="post">{% csrf_token %}
  {{ ResetForm.email }}<br>
  {{ ResetForm.email.errors }}
  <a href="{% url 'account:Index_screen' %}" class="btn btn-success green" role="button">Return</a>
  <input type="submit" class="btn btn-success green" value="Submit" />
</form>
<a href="{% url 'account:Register_screen' %}">Don't have an account?</a><br>
<a href="{% url 'account:Login_screen' %}">Already have an account?</a><br>
<a href="{% url 'main:FAQ_screen' %}">FAQ</a>

<!--/static files-->
  <!--Bootstrap-->
    {% include 'assets/bootstrap/Bootstrap.html' %}
<!--/static files-->
