<!-- password reset confirm view, password email reset view -->
<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    {% include 'nexus/Nexus.html' %}
    <title>Recovery</title>
  </head>

  <body>
    {% if validlink %}
      <div class="jumbotron">
        <div class="container">
          <form role="form" action="." method="post"> {% csrf_token %}
            <!-- access native form for resetting password -->
            {{ form.password }}<br>
            {{ form.password.errors }}
            {{ form.password_repeat }}<br>
            {{ form.password_repeat.errors }}
        		<input type="submit" class="btn btn-success green" value="Submit" />
        	</form>
        </div>
      </div>
    {% else %} 
      <!-- Since the confirmation link is invalid, display an error message -->
      <h1>Invalid password reset link</h1>
    {% endif %}
  </body>
</html>

