<!-- password reset confirm view, password email reset view -->

<!-- If the link is valid, display a confirmation page, else display an error message -->
{% if validlink %}
  <form role="form" action="." method="post"> {% csrf_token %}
    <!-- access native form for resetting password -->
    {{ form.password }}<br>
    {{ form.password.errors }}
    {{ form.password_repeat }}<br>
    {{ form.password_repeat.errors }}
		<input type="submit" class="btn btn-success green" value="Submit" />
	</form>
{% else %} 
  <!-- Since the confirmatino link is invalid, display an error message -->
  <h1>Invalid password reset link</h1>
{% endif %}

