{% if validlink %} <!-- If the link is valid, display a confirmation page, else display an error message -->
  <form role="form" action="." method="post"> {% csrf_token %}
      {{ form.as_p }}
		<input type="submit" class="btn btn-success green" value="Submit" />
	</form>
{% else %} <!-- Since the confirmatino link is invalid, display an error message -->
  <h1>Invalid password reset link</h1>
{% endif %}

<!--/static files-->
  <!--Bootstrap-->
    {% include 'assets/bootstrap/Bootstrap.html' %}
<!--/static files-->
