<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    {% include 'nexus/Nexus.html' %}
    <title>Register account</title>

  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1>Register an account</h1>
          </div>
        </div>
        <div class="row">
          <div class="testDiv col-md-8 col-md-offset-2 login-form">
            <form action="{% url 'account:Register_account' %}" method="post" enctype='multipart/form-data'> 
              {% csrf_token %}

                <div style="text-align: left;margin-left: 10em;margin-right: 10em; padding: 5px;"

                >

          <!--    <div class="col-sm-6 col-xs-12 register-first-half"> -->
                <!--Username:<br>-->
                {{ RegForm.username }}<br>
                <br>
                <!--E-mail address:<br>-->
                {{ RegForm.email }}<br>
                <br>
                <!--First name:<br>-->
                {{ RegForm.first_name }}<br>
                <br>
                <!--Last name:<br>-->
                {{ RegForm.last_name }}<br>
                <br>
             <!-- <div class="col-sm-6 col-xs-12 register-second-half">-->
                <!--Phone number:<br>-->
                {{ RegForm.phone_number }}<br>
                  <br>

                <!--Apartment number:<br>-->
                {{ RegForm.apartment }}<br>
                <br>
                <!--Password:<br>-->
                {{ RegForm.password }}<br>
                <br>
                <!--Repeat password:<br>-->
                {{ RegForm.password_repeat }}<br>
              </div>

              <a href="{% url 'account:Index_screen' %}" class="knapp btn btn-lg btn-info green register-buttons" role="button">Return</a>
              <input id="submit_button" class="knapp btn btn-lg btn-success green register-buttons" type="submit" value="Register">
              <!--display error messages-->
              {{ RegForm.username.errors }}
              {{ RegForm.email.errors }}
              {{ RegForm.first_name.errors }}
              {{ RegForm.last_name.errors }}
              {{ RegForm.phone_number.errors }}
              {{ RegForm.apartment.errors }}
              {{ RegForm.password.errors }}
              {{ RegForm.password_repeat.errors }}
            </form>

            <a class="register-links" href="{% url 'account:Login_screen' %}">Already have an account?</a><br>
            <a class="register-links" href="{% url 'main:FAQ_screen' %}">FAQ</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>