{% load staticfiles %}

<html>

  <head>
    {% include 'meta/Meta.html' %}
    <title>Update password</title>
  </head>

  <body>
    <div class="Register">
      <h1>Update password</h1>
      <form action="{% url 'account:Update_password' %}" method="post" enctype='multipart/form-data'> {% csrf_token %}
        <!--Current password:<br>-->
        {{ ChangePass.current_password }}<br>
        {{ ChangePass.current_password.errors }}
        <!--New password:<br>-->
        {{ ChangePass.password }}<br>
        {{ ChangePass.password.errors }}
        <!--Repeat password:<br>-->
        {{ ChangePass.repeat_password }}<br>
        {{ ChangePass.repeat_password.errors }}
        <a href="{% url 'account:Account_screen' %}" class="btn btn-success green" role="button">Return</a>
        <input id="submit_button" class="btn btn-success green" type="submit" value="Change password">
      </form>
    </div>

    <!--/static files-->
      <!--Bootstrap-->
        {% include 'assets/bootstrap/Bootstrap.html' %}
    <!--/static files-->

  </body>

</html>
