<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    {% include 'nexus/Nexus.html' %}
    <title>Update password</title>
  </head>

  <body>
    <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Update password</h1>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 login-form">
            <form action="{% url 'account:Update_password' %}" method="post" enctype='multipart/form-data'> {% csrf_token %}
              <!--Current password:<br>-->
              {{ ChangePass.current_password }}<br>
              <!--New password:<br>-->
              {{ ChangePass.password }}<br>
              <!--Repeat password:<br>-->
              {{ ChangePass.repeat_password }}<br>
              <input id="submit_button" class="btn btn-success green" type="submit" value="Change password">
              <!-- display success message when password was updated -->
              <div id="update_successfull"> {{ SuccessMessage|safe }} </div>
              <!-- display errors -->
              {{ ChangePass.current_password.errors }}
              {{ ChangePass.password.errors }}
              {{ ChangePass.repeat_password.errors }}
            </form>
            <a href="{% url 'account:Account_screen' %}" class="btn btn-info green account-buttons" role="button">Return</a>
            <a href="{% url 'main:Render_all' %}" class="btn btn-info green account-buttons" role="button">Return to calendar</a>
            <br><br>
            <a href="{% url 'account:reset' %}" class="login-links">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
