<!-- junction to render content from various applications to allow modularity -->

{% load staticfiles %}

<!DOCTYPE html>

<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'kombo_parking/header.html' %}
    {% include 'meta/Meta.html' %}
    <title>Kombo</title>
  </head>

  <body>

    {% if user.is_authenticated %}

      <div class="Authenticated">
        {% include 'kombo_parking/navbar.html' %}
        {% include 'kombo_parking/body.html' %}
        {% include 'kombo_parking/mainTemplateFooter.html' %}
      </div>


    {% else %}
      <div class="Logreg">
        {% include 'account/Index_screen.html' %}
      </div>

      <!--css-->
      <link rel="stylesheet" type="text/css" href="{% static 'main/css/account/Index_Screen.css' %}" />
          
    {% endif %}

  </body>

</html>
