<!-- junction to render content from various applications to allow modularity -->
<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    {% include 'nexus/Nexus.html' %}
  </head>

  <body>
    {% if user.is_authenticated %}
      <div class="Authenticated">
        {% include 'kombo_parking/navbar.html' %}
        {% include 'kombo_parking/body.html' %}
        {% include 'kombo_parking/mainTemplateFooter.html' %}
      </div>
    {% else %}
      {% include 'account/Index_screen.html' %}   
    {% endif %}
  </body>
</html>