<!-- junction to render content from various applications to allow modularity -->

{% load staticfiles %}

<html>

  <head>
    {% include 'meta/Meta.html' %}
    {% include '/navbar.html' %}
  </head>

  <body>
    {% if not user.is_authenticated %}

      <div class="Logreg">
        {% include 'account/Index_screen.html' %}
      </div>

    {% elif user.is_authenticated %}

      <div class="Authenticated">
        <h1>Post-login goes here</h1>
        {% include '/body.html' %}
      </div>

    {% endif %}

    <!--/static files-->
      <!--Bootstrap-->
        {% include 'assets/bootstrap/Bootstrap.html' %}
    <!--/static files-->
  </body>

</html>
