{% load staticfiles %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kombo Parking</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myModal" class="glyphicon glyphicon-bullhorn" role="button" data-toggle="modal"></a></li>
        <li><a class="glyphicon glyphicon-user" href="{% url 'account:Account_screen' %}"></a></li>
        <li><a href="{% url 'account:Logout' %}">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  <!-- Modal Test-->

  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">

          <div class="form-group has-feedback">
          <label class="control-label">Parking Space</label>
            <input type="text" class="form-control" placeholder="Parking Space" />
            <i class="glyphicons glyphicons-car form-control-feedback"></i>
          </div>

          <div class="form-group has-feedback">
          <label class="control-label">User</label>
            <input type="text" class="form-control" placeholder="User" />
            <i class="glyphicons glyphicons-car form-control-feedback"></i>
          </div>

          <div class="form-group has-feedback">
          <label class="control-label">Time and Date</label>
            <input type="text" class="form-control" placeholder="Time and Date" />
            <i class="glyphicons glyphicons-car form-control-feedback"></i>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!--/static files-->
  <!--Bootstrap-->
  {% include 'assets/bootstrap/Bootstrap.html' %}
  <!--/static files-->
</nav>
