#login-text{
	color: white !important;
	font-size: 25px !important;
}

.Login {
	margin-top: 15% !important;
	font-size: 20px !important; 
}

#mainContainer {
	margin-top: 1% !important;
}

.links {
	color: white;
	font-size: 20px;
}
 
body{
     background-image: url("http://www.publicdomainpictures.net/pictures/180000/velka/car-park.jpg"); 
     background-size: cover;
}

