.Login {
	margin-top: 15% !important;

	 
}

#mainContainer {
	color: white !important;
	font-size: 35px !important;
}
 
body{
     background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/blue-point-background.jpg"); 
}

